@model IEnumerable<eTraveller.Models.Vehicle>
@using Microsoft.AspNetCore.Identity
@using eTraveller.Models.Enums
@*To find the user is logged in*@
@inject SignInManager<IdentityUser> _loginUserStatus
@*Get the user properties*@
@inject UserManager<IdentityUser> _userManager
@{
    bool isLoggedIn = _loginUserStatus.IsSignedIn(this.User);
    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.SysAdmin.ToString());
    }
}
@{
    ViewData["Title"] = "Index";
}
@section BodyStyle{
<style>
    body {
            background-image: url('https://www.freeppt7.com/uploads/190910/1-1Z910195K0P7.JPG');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        
    }
</style>
}


<h1>Available Vehicle</h1>
@if(isUserAdmin)
{
    <p>
        <a class="btn btn-success" asp-action="Create">Add new vehicle</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintainance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maintainance)
            </td>
            @if(isUserAdmin)
            {
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a>
@*                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |*@
                    <a class=" btn btn-danger" asp-action="Delete" asp-route-id="@item.VehicleId">&nbsp Delete</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
<br />
<br />
<div class="col-3">
    <a class="btn btn-success fa fa-address-card" style="font-size:15px" asp-controller="Bookings" asp-action="GoToRegistration">&nbsp; Book a car</a>
</div>
