@model IEnumerable<eTraveller.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}
@section BodyStyle{
<style>
    body {
            background-image: url('https://www.freeppt7.com/uploads/190910/1-1Z910195K0P7.JPG');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        
    }
</style>
}


<h1>Available Vehicle</h1>
<p>
    <a class="btn btn-success" asp-action="Create">Add new vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintainance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maintainance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
