@model IEnumerable<eTraveller.Models.Booking>
@using Microsoft.AspNetCore.Identity
@using eTraveller.Models.Enums
@*To find the user is logged in*@
@inject SignInManager<IdentityUser> _loginUserStatus
@*Get the user properties*@
@inject UserManager<IdentityUser> _userManager
@{
    bool isLoggedIn = _loginUserStatus.IsSignedIn(this.User);
    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.SysAdmin.ToString());
    }
}
@{
    ViewData["Title"] = "Index";
}
@section BodyStyle{
    <style>
        body {
            background-image: url('https://images.creativemarket.com/0.1.0/ps/7720735/910/607/m1/fpnw/wm0/high-quality-paper-color-.jpg?1581080382&s=75c185286c738e9d2e5a403e641b9b4f&fmt=webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
}

<h1>Bookings</h1>

<p>
    <a class=" btn btn-primary" asp-action="Create">New Booking</a>
</p>

<div class="card-columns">
    @foreach (var booking in Model)
    {
        <div class="card">
            <div class="card-header">
                Booking Id: @booking.BookingId
                
            </div>
            <div class="card-body">
                @Html.DisplayNameFor(modelItem => booking.Location.LocationName) : @booking.Location.LocationName
                <br />
                @Html.DisplayNameFor(modelItem => booking.Vehicle.VehicleName) : @booking.Vehicle.VehicleName
                <br>
                Total Price : @{
                    var Cost = (booking.Location.Distance * booking.Vehicle.CostPerKm) + booking.Vehicle.Maintainance;
                }
                @Cost
            </div>
            <div class="card-footer">
                @if (isUserAdmin)
                {
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@booking.BookingId">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@booking.BookingId">Booking Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@booking.BookingId">Delete</a>
                }
            </div>
        </div>

    }
</div>
<a asp-area="eTraveller" asp-controller="Locations" asp-action="Index">List of Locations</a>
