@model IEnumerable<eTraveller.Models.Location>
@using Microsoft.AspNetCore.Identity
@using eTraveller.Models.Enums
@*To find the user is logged in*@
@inject SignInManager<IdentityUser> _loginUserStatus
@*Get the user properties*@
@inject UserManager<IdentityUser> _userManager
@{
    bool isLoggedIn = _loginUserStatus.IsSignedIn(this.User);
    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.SysAdmin.ToString());
    }
}

@{
    ViewData["Title"] = "Index";
}

@section BodyStyle{
<style>
    body {
            background-image: url('https://www.freeppt7.com/uploads/190910/1-1Z910195U2F8.JPG');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        
    }
</style>
}

<h1>Locations</h1>

<p>
        <a type="button" class="btn btn-success" asp-action="Create">Add new location</a>
</p>
 <div class=" card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                <i class="fa fa-map-marker" style="font-size:36px"></i>
                Location Id: @item.LocationId

            </div>
            <div class="card-body">
                @Html.DisplayNameFor(modelItem => item.LocationName) : @item.LocationName
                <br />
                @Html.DisplayNameFor(modelItem => item.Distance) : @item.Distance
                <br/>
            </div>

            @if (isUserAdmin)
            {
                <div class="card-footer">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.LocationId">Edit</a>
                
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </div>
            }
        </div>
    }
 </div>
 <div class="row">
     <div class="col-3">
        <a class="btn btn-success fa fa-car" style="font-size:15px" asp-controller="Vehicles" asp-action="Index">&nbsp; Vehicle Collection</a>
     </div>
     <div class="col-2">
        <a class="btn btn-success fa fa-address-card" style="font-size:15px" asp-controller="Passengers" asp-action="Create">&nbsp; Book a car</a>
     </div>
     <div class="col-2"></div>
    @if (isUserAdmin) 
    {
        <div class="col-3">
            <a class="btn btn-info" href="~/MyLocationApiDemo.html"> Location API</a>
        </div>
    }
    
 </div>