@model IEnumerable<eTraveller.Models.Location>

@{
    ViewData["Title"] = "Index";
}
<style>
    body{
        background-image:url('~/wwwroot/img/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==.jpg');
    }
</style>
<body>
<div class="bg-light " style="hight:100%">
    <h1>Locations</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
</body>
