@model IEnumerable<eTraveller.Models.Location>

@{
    ViewData["Title"] = "Index";
}

@section BodyStyle{
<style>
    body {
            background-image: url('https://www.freeppt7.com/uploads/190910/1-1Z910195U2F8.JPG');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        
    }
</style>
}

<h1>Locations</h1>

<p>
        <a type="button" class="btn btn-success" asp-action="Create">Add new location</a>
</p>
 <div class=" card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                <i class="fa fa-map-marker" style="font-size:36px"></i>
                Location Id: @item.LocationId

            </div>
            <div class="card-body">
                @Html.DisplayNameFor(modelItem => item.LocationName) : @item.LocationName
                <br />
                @Html.DisplayNameFor(modelItem => item.Distance) : @item.Distance
                <br/>
            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.LocationId">Edit</a>
                
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </div>
        </div>
    }
 </div>











@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


*@